@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #f8eddc;
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #cbb297;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #bba48b;
}
::-webkit-scrollbar-thumb:active {
  background: #a49079;
}
::-webkit-scrollbar-track {
  background: #f8eddc;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #f8eddc;
}
::-webkit-scrollbar-track:active {
  background: #f8eddc;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 90vw !important;
  }
}

/* ---------------------------------------NAVBAR------------------------------- */

.nav-logo {
  height: 4rem;
}

.navbar.navbar-expand-lg.navbar-light {
  height: 5rem;
  background-color: #d5bea6;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  justify-content: flex-end;
}

.ant-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-anchor-link-title {
  color: inherit;
}

.ant-anchor-link-title:hover {
  color: inherit;
  text-decoration: none;
}

.navbar-brand,
.risi-brand-nav {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

.navbar-brand {
  font-weight: 200;
  font-size: 2rem !important;
}

.risi-brand-nav {
  font-weight: 400;
  font-size: 2rem;
}

.nav-link {
  margin: 0 1.5rem;
  display: flex;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 1.3rem !important;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 50%;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 50%;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
  color: #000;
}

.nav-link:hover::before {
  right: 0;
}

.nav-link:hover::after {
  left: 0;
}

/* ---------------------------------- HOME - CAROUSEL --------------------------------------- */

.container.home-container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.carousel-item {
  position: relative !important;
}

.carousel-item.first-slide.active {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-item.first-slide {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-control-next {
  justify-content: flex-end !important;
}

.carousel-control-prev {
  justify-content: flex-start !important;
}

img.first-slide-img {
  width: 70%;
  position: relative;
  z-index: 15;
  padding-right: 5rem;
}

/* .carousel-caption {
  text-align: start !important;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px 0 rgba(145, 144, 142, 0.123);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */

.carousel-caption h3 {
  color: #000;
  font-family: "Heebo", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}

.carousel-caption p {
  color: #000;
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
}

.first-slide-caption.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 0 1.5rem;
  padding: 0 70% 0 2rem;
  text-align: start !important;
  background: #faf2e7;
  box-shadow: 0 5px 10px 0 rgba(145, 144, 142, 0.123);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid #fff9f0;
}

.carousel-item.second-slide {
  height: 90vh;
  display: flex;
  position: relative;
}

img.second-slide-img {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 0 1.5rem;
  padding: 0 2rem;
}

/* ---------------------------------HOME - ABOUT ME------------------------------------ */

h2.title-about-me {
  color: #fff9f0;
  font-family: "Montserrat";
  font-size: 2.5vw;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
  padding: 1rem 0;
  background-color: #97b0cb;
}

.about-me-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.text-about-me-cont {
  width: 30%;
  margin-left: 3rem;
}

.text-about-me-cont span {
  display: block;
  color: #161616;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.video-about-me-cont {
  width: 65%;
  height: 35rem;
  padding: 0 3rem;
}

iframe.youtube-about-me {
  width: 100%;
  height: 100%;
}

/* -------------------------------------------HOME - PROGETTI----------------------------------------------- */

.progetti-home-big-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 90vh;
  padding: 3rem;
}

.progetto-singolo-cont{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1rem;
  overflow: hidden;
}

img#progetto-singolo-interno, img#progetto-singolo-esterno {
  position: absolute; 
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 0 1rem;
}

.nero-cont-singolo-progetto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 0;
  margin: 0 1rem;
}

span.progetto-singolo-descript{
  position: absolute;
  bottom: 8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  z-index: 2;
}

h6.progetto-home-titolo{
  position: absolute;
  bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  z-index: 2;
}

.progetto-singolo-btn{
  position: absolute;
  bottom: 2rem;
  z-index: 2;
  background: transparent;
  border: white 2px solid;
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  transition: ease 0.3s all;
}

.progetto-singolo-btn:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
/* ----------------------------------FOOTER----------------------------------- */

.footer-big-container {
  width: 100%;
  height: fit-content;
  background-color: #d5bea6e0;
  display: flex;
  padding: 3rem 0;
}

.footer-big-container .row {
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0 3rem;
}

h4.footer-titles {
  color: #161616;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer-contact-us-title {
  color: #161616;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-contsct-us-cont {
  background-color: rgba(255, 255, 255, 0.377);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem !important;
}

.footer-form-cont {
  background-color: rgba(255, 255, 255, 0.377);
  padding: 2rem 3rem 2rem 0 !important;
}

.contact-us-info-cont {
  background-color: white;
  padding: 3rem;
}

.footer-contact-us-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

input.footer-inputs.form-control {
  border: transparent 1px solid;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0 !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.icons-footer {
  width: 2rem;
  font-size: 1.5rem;
  color: #F8EDDC;
  cursor: pointer;
}

.footer-links,
.footer-contacts {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
  color: #161616;
  transition: all 0, 5s ease;
}

.footer-links:hover,
.footer-contacts:hover {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  cursor: pointer;
}

.icons-footer:hover {
  cursor: pointer;
  color: white;
}

.row{
  position: relative;
}

.go-up-link-footer {
  position: absolute;
  bottom: 0;
  left: 3.5rem;
  
}

.ant-anchor-link.go-up {
  border: #F8EDDC 2px solid;
  padding: 0.3rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.2s ease;
  color: white;
}

.ant-anchor-link.go-up:hover {
  background-color: #F8EDDC;
  cursor: pointer;
  color: #161616;
}

.submit-footer-form-btn.btn.btn-primary{
  background-color: #97b0cb;
  border: #97b0cb solid 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.submit-footer-form-btn.btn.btn-primary:hover{
  background-color: #8fa7c0;
  border: #97b0cb solid 1px;
}

.submit-footer-form-btn.btn.btn-primary:active{
  background-color: #869cb4 !important;
  border: #869cb4 solid 1px !important;
}

.submit-footer-form-btn.btn.btn-primary:focus{
  box-shadow: 0 0 0 0.2rem #97b0cb;
}

/* -----------------------------------PROGETTI------------------------------------- */

.progetti-big-container {
  padding-top: 6rem;
}

h1.portfolio-titolo {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #161616;
  text-align: center;
  margin: 2rem 0;
}

.container-progetti {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 8rem;
  margin-bottom: 3rem;
}

.img-container-progetto img {
  object-fit: cover;
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
}

.img-container-progetto img:hover {
  filter: opacity(0.8);
}
