@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-black: #111111;
  --secondary-black: #323232;
  --dark-gray: #6f6f6f;
  --beige: #f4e9d7;
  --dark-white: #f1f1f1;
  --main: #cbb297;
  --accent: #97b0cb;
  --xl-font-size: 2rem;
  --big-font-size: 1.7rem;
  --medium-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --xs-font-size: 0.8rem;
  --main-font: "Montserrat", sans-serif;
}

@media screen and (min-width: 500px) {
  :root {
    --xl-font-size: 3rem;
    --big-font-size: 2rem;
    --medium-font-size: 1.2rem;
    --small-font-size: 0.9rem;
    --xs-font-size: 0.9rem;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --xl-font-size: 4rem;
    --big-font-size: 2.5rem;
    --medium-font-size: 1.3rem;
    --small-font-size: 1rem;
    --xs-font-size: 0.9rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --xl-font-size: 5rem;
    --big-font-size: 3rem;
    --medium-font-size: 1.4rem;
    --small-font-size: 1.1rem;
    --xs-font-size: 0.9rem;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --xl-font-size: 5.5rem;
    --big-font-size: 4.5rem;
    --medium-font-size: 2rem;
    --small-font-size: 1.5rem;
    --xs-font-size: 1.2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  position: relative;
}

.App {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark-white);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--primary-black);
  font-family: "Heebo", sans-serif;
}

p {
  margin: 0;
  color: var(--primary-black);
}

.container {
  max-width: 90%;
  margin: auto;
  position: relative;
}

@media (min-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

.big-container {
  width: 100%;
  position: relative;
  height: fit-content;
}

.big-container.home {
  padding-top: 6rem;
}

/* -------------------------------------------HOME - CONTATTAMI---------------------------------------------- */

.container.contattami {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-block: 2rem;
}

.text-container-contattami {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow: visible;
}

.text-container-contattami h1 {
  color: var(--primary-black);
  line-height: 1.8rem;
  font-size: var(--xl-font-size);
  width: 13ch;
}

.text-container-contattami p {
  color: var(--primary-black);
  width: fit-content;
  line-height: 1.5rem;
  font-size: var(--medium-font-size);
  width: 100%;
  font-weight: 600;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding-right: 1rem;
}

.container.contattami img {
  z-index: 1;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: left;
  position: relative;
}

.cornice {
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 10%;
  width: 40%;
  height: 80%;
  border: solid 4px var(--main);
}

@media screen and (min-width: 500px) {
  .text-container-contattami h1 {
    line-height: 2.5rem;
  }

  .text-container-contattami p {
    line-height: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .text-container-contattami h1 {
    line-height: 3.5rem;
  }

  .text-container-contattami p {
    line-height: 2.5rem;
  }

  .cornice {
    border: solid 5px var(--main);
    width: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .text-container-contattami h1 {
    line-height: 4rem;
  }

  .text-container-contattami p {
    line-height: 3rem;
  }

  .cornice {
    border: solid 6px var(--main);
    width: 30%;
    left: 35%;
  }
}

@media screen and (min-width: 1500px) {
  .text-container-contattami h1 {
    line-height: 5rem;
  }

  .text-container-contattami p {
    line-height: 3.2rem;
    width: 40ch;
  }

  .cornice {
    border: solid 7px var(--main);
    width: 30%;
    left: 35%;
  }
}

/* --------------------------------------------HOME - ABOUT ME--------------------------------------------- */
#about-me {
  margin-block: 2rem;
}

#about-me .title-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#about-me .title-container h2 {
  color: var(--main);
  font-size: var(--xl-font-size);
  white-space: nowrap;
  width: fit-content;
  margin-right: 0.5rem;
}

#about-me .title-container .line {
  width: 100%;
  height: 3px;
  background-color: var(--main);
}

.about-me-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.text-about-me-cont {
  font-size: var(--small-font-size);
  color: var(--primary-black);
  line-height: 2rem;
}

.video-about-me-cont iframe {
  width: 90vw;
  height: calc((90vw * 9) / 16);
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .video-about-me-cont iframe {
    width: 80vw;
    height: calc((80vw * 9) / 16);
  }
}

@media screen and (min-width: 1300px) {
  .about-me-inner-container {
    flex-direction: row;
  }

  .video-about-me-cont iframe {
    width: 40vw;
    height: calc((40vw * 9) / 16);
  }
}

/* -------------------------------------------HOME - PROGETTI----------------------------------------------- */

.progetti-home-big-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 90vh;
  padding: 3rem;
}

.progetto-singolo-cont {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1rem;
  overflow: hidden;
}

img#progetto-singolo-interno,
img#progetto-singolo-esterno {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 0 1rem;
}

.nero-cont-singolo-progetto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 0;
  margin: 0 1rem;
}

span.progetto-singolo-descript {
  position: absolute;
  bottom: 8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  z-index: 2;
}

h6.progetto-home-titolo {
  position: absolute;
  bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  z-index: 2;
}

.progetto-singolo-btn {
  position: absolute;
  bottom: 2rem;
  z-index: 2;
  background: transparent;
  border: white 2px solid;
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  transition: ease 0.3s all;
}

.progetto-singolo-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

/* ---------------------------------------------------SPINNER------------------------------------------ */

.loader {
  margin: 5rem auto;
  font-size: 8px;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
