@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #f8eddc;
}

/* ---------------------------------------NAVBAR------------------------------- */

.nav-logo{
  height: 4rem;
}

.navbar.navbar-expand-lg.navbar-light{
  height: 5rem;
  background-color: #cbb297c9;
  
}

.container-fluid{
  display: flex;
  justify-content: space-between;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-links-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand, .risi-brand-nav{
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

.navbar-brand{
  font-weight: 200;
  font-size: 2rem !important;
}

.risi-brand-nav{
  font-weight: 400;
  font-size: 2rem;
}

.nav-link{
  margin: 0 1.5rem;
  display: flex;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 1.3rem !important;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  transition: .3s;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.nav-link::before{
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 50%;
  height: 2px;
  background: rgba(0, 0, 0, 0.8);
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 50%;
  height: 2px;
  background: rgba(0, 0, 0, 0.8);
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
  color: #000;
}

.nav-link:hover::before{
  right: 0;
}

.nav-link:hover::after{
  left: 0;
}